<% include partials/header.ejs %>

<!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-123002705-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-123002705-1');
</script>

<h1>Natalie is OK. Landing Page!</h1>

<p>Welcome to YelpCamp</p>

<a href="/campgrounds">View All Campgrounds</a>

<% include partials/footer.ejs %>